Repository pesca-dev/moneyboy-app, pull requests merged in 2021-12, with the labels that each got.

#56 Update GitHub Actions committer for documentation deployments
  .github/workflows/docs.yml
Labels: enhancement, ci-cd

#74 Draft: Improve Perfomance
  App.tsx
  __tests__/components/ListItem.spec.tsx
  __tests__/components/PescaButton.spec.tsx
  index.js
  ios/MoneyBoy/LaunchScreen.storyboard
  src/components/extended/AddPaymentButton.tsx
  src/components/extended/CenterButton.tsx
  src/components/extended/GroupListItem.tsx
  src/components/extended/LogoutButton.tsx
  src/components/extended/MoneyDiff.tsx
  src/components/extended/addPaymentButton/ConfirmPaymentView.tsx
  src/components/extended/addPaymentButton/EnterPaymentView.tsx
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/components/extended/pescaMenu/createPescaMenu.tsx
  src/components/extended/pescaMenu/menuItem.tsx
  src/components/extended/pescaMenu/pescaMenu.tsx
  src/components/input/PescaAmountField.tsx
  src/components/input/PescaButton.tsx
  src/components/input/PescaInputField.tsx
  src/components/navigation/PescaTabBar.tsx
  src/components/navigation/PescaTabIcon.tsx
  src/components/navigation/pesca-navigator/createPescaNavigation.tsx
  src/components/navigation/pesca-navigator/pescaNavigator.tsx
  src/components/navigation/pesca-navigator/pescaScreen.tsx
  src/components/structure/Container.tsx
  src/components/structure/Content.tsx
  src/components/structure/Flyout.tsx
  src/components/structure/Footer.tsx
  src/components/structure/List.tsx
  src/components/structure/ListItem.tsx
  src/components/structure/SectionHeader.tsx
  src/components/structure/Separator.tsx
  src/components/structure/ViewBase.tsx
  src/context/AuthContext.tsx
  src/context/FlyoutContext.tsx
  src/context/PescaContext.tsx
  src/context/ThemeContext.tsx
  src/pesca/createPescaClient.ts
  src/views/AppContainer.tsx
  src/views/pages/GroupView.tsx
  src/views/pages/HistoryView.tsx
  src/views/pages/LoginView.tsx
  src/views/pages/MainView.tsx
  src/views/pages/RegisterView.tsx
  src/views/pages/SettingsView.tsx
Labels: app, improvement

#76 Update React Native
  android/app/build.gradle
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  babel.config.js
  ios/Podfile
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/extended/pescaMenu/menuItem.tsx
  src/components/extended/pescaMenu/pescaMenu.tsx
  src/components/input/PescaButton.tsx
Labels: app, dependencies, improvement

#78 Feature: Restructure Styling
  App.tsx
  babel.config.js
  package.json
  src/api/ThemeType.d.ts
  src/components/extended/GroupListItem.tsx
  src/components/extended/LogoutButton.tsx
  src/components/extended/MoneyDiff.tsx
  src/components/extended/addPaymentButton/ConfirmPaymentView.tsx
  src/components/extended/addPaymentButton/EnterPaymentView.tsx
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/components/extended/pescaMenu/menuItem.tsx
  src/components/extended/pescaMenu/pescaMenu.tsx
  src/components/input/PescaAmountField.tsx
  src/components/input/PescaInputField.tsx
  src/components/navigation/PescaTabBar.tsx
  src/components/navigation/PescaTabIcon.tsx
  src/components/navigation/pesca-navigator/pescaNavigator.tsx
  src/components/structure/Flyout.tsx
  src/components/structure/Footer.tsx
  src/components/structure/SectionHeader.tsx
  src/components/structure/Separator.tsx
  src/context/StyleContext.tsx
  src/context/ThemeContext.tsx
  src/styles/buttons.ts
  src/styles/colors.ts
  src/styles/content.ts
  src/styles/flyout.ts
  src/styles/footer.ts
  src/styles/group.ts
  src/styles/input.ts
  src/styles/list.ts
  src/styles/tab.ts
  src/styles/text.ts
  src/views/AppContainer.tsx
  src/views/pages/LoginView.tsx
  src/views/pages/RegisterView.tsx
  tsconfig.json
Labels: enhancement, app, improvement

#79 Feature: New Icon by @fwcd
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/100.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/1024.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/114.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/120.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/128.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/144.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/152.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/16.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/167.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/172.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/180.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/196.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/20.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/216.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/256.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/29.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/32.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/40.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/48.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/50.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/512.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/55.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/57.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/58.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/60.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/64.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/72.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/76.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/80.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/87.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/88.png
  ios/MoneyBoy/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  ios/MoneyBoy/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  ios/MoneyBoy/Images.xcassets/Contents.json
  ios/MoneyBoy/Images.xcassets/test.appiconset/Contents.json
Labels: app, assets, improvement

#80 Feature: Dark Mode
  src/components/extended/GroupListItem.tsx
  src/components/extended/MoneyDiff.tsx
  src/components/extended/addPaymentButton/ConfirmPaymentView.tsx
  src/components/extended/addPaymentButton/EnterPaymentView.tsx
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/components/input/PescaAmountField.tsx
  src/components/input/PescaInputField.tsx
  src/components/navigation/PescaTabBar.tsx
  src/components/structure/Footer.tsx
  src/context/StyleContext.tsx
  src/styles/buttons.ts
  src/styles/colors.ts
  src/styles/content.ts
  src/styles/flyout.ts
  src/styles/footer.ts
  src/styles/group.ts
  src/styles/input.ts
  src/styles/list.ts
  src/styles/stylingProps.d.ts
  src/styles/tab.ts
  src/styles/text.ts
  src/styles/utils.ts
  src/views/AppContainer.tsx
  src/views/pages/LoginView.tsx
  src/views/pages/RegisterView.tsx
Labels: enhancement, app, improvement

#81 Fix: Update version of MacOS runner
  .github/workflows/ios.yml
  .github/workflows/testflight.yml
  ios/fastlane/Fastfile
Labels: ci-cd, ios

#83 Fix: StatusBar styling in dark mode
  App.tsx
Labels: bug, app, improvement

#85 Feature: Single Payment functionality
  src/api/PescaClient.d.ts
  src/components/extended/MoneyDiff.tsx
  src/components/extended/addPaymentButton/ConfirmPaymentView.tsx
  src/components/extended/addPaymentButton/EnterPaymentView.tsx
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/context/PescaContext.tsx
  src/global.d.ts
  src/pesca/createPescaClient.ts
  src/views/pages/HistoryView.tsx
  src/views/pages/MainView.tsx
Labels: enhancement, app, improvement
