Repository pesca-dev/moneyboy-app, pull requests merged in 2022-01, with the labels that each got.

#86 Feature: Improve linting and enforce code style
  .eslintrc.js
  .gitignore
  .prettierrc
  .prettierrc.js
  App.tsx
  __tests__/components/ListItem.spec.tsx
  __tests__/components/PescaButton.spec.tsx
  package-lock.json
  package.json
  src/api/PescaNavContextType.ts
  src/components/extended/AddPaymentButton.tsx
  src/components/extended/CenterButton.tsx
  src/components/extended/LogoutButton.tsx
  src/components/extended/addPaymentButton/EnterPaymentView.tsx
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/components/extended/pescaMenu/createPescaMenu.tsx
  src/components/extended/pescaMenu/menuItem.tsx
  src/components/extended/pescaMenu/pescaMenu.tsx
  src/components/input/PescaAmountField.tsx
  src/components/input/PescaButton.tsx
  src/components/navigation/PescaTabBar.tsx
  src/components/navigation/pesca-navigator/pescaNavigator.tsx
  src/components/navigation/pesca-navigator/pescaScreen.tsx
  src/components/structure/Container.tsx
  src/components/structure/Content.tsx
  src/components/structure/List.tsx
  src/components/structure/ListItem.tsx
  src/components/structure/ViewBase.tsx
  src/context/AuthContext.tsx
  src/context/FlyoutContext.tsx
  src/context/PescaContext.tsx
  src/context/StyleContext.tsx
  src/pesca/createPescaClient.ts
  src/pesca/httpClient.ts
  src/styles/content.ts
  src/styles/utils.ts
  src/views/AppContainer.tsx
  src/views/pages/GroupView.tsx
  src/views/pages/HistoryView.tsx
  src/views/pages/MainView.tsx
  src/views/pages/SettingsView.tsx
Labels: app, dependencies, improvement

#84 Feature: Add SettingsProvider
  App.tsx
  package-lock.json
  package.json
  src/components/extended/LogoutButton.tsx
  src/components/navigation/PescaTabBar.tsx
  src/components/navigation/PescaTabIcon.tsx
  src/components/navigation/pesca-navigator/createPescaNavigation.tsx
  src/components/navigation/pesca-navigator/pescaNavigator.tsx
  src/components/navigation/pesca-navigator/pescaScreen.tsx
  src/components/settings/ThemeSwitch.tsx
  src/components/structure/FlyoutHeader.tsx
  src/components/structure/SectionHeader.tsx
  src/components/structure/ViewBase.tsx
  src/context/SettingsContext.tsx
  src/context/StyleContext.tsx
  src/pesca/createPescaClient.ts
  src/styles/tab.ts
  src/styles/text.ts
  src/views/AppContainer.tsx
  src/views/SettingsPanel.tsx
  src/views/pages/EventView.tsx
  src/views/pages/HistoryView.tsx
  src/views/pages/LoginView.tsx
  src/views/pages/RegisterView.tsx
  src/views/pages/SettingsView.tsx
Labels: enhancement, app

#95 Feature: Storage and persistance
  .eslintrc.js
  App.tsx
  __tests__/components/ListItem.spec.tsx
  __tests__/components/PescaButton.spec.tsx
  babel.config.js
  package.json
  src/api/Storage.d.ts
  src/components/extended/addPaymentButton/SearchListView.tsx
  src/context/SettingsContext.tsx
  src/context/StorageContext.tsx
  src/hooks/useStorage.ts
  src/views/pages/GroupView.tsx
  src/views/pages/HistoryView.tsx
  src/views/pages/MainView.tsx
  src/views/pages/SettingsView.tsx
  tsconfig.json
Labels: feature, app

#105 Add some fixes to the iOS build scripts
  ios/Podfile
  ios/Podfile.lock
  scripts/setup-ios
Labels: ci-cd, ios, app
